
.logo{
    display: flex;
    align-items: center;
    /* background-color: white; */
    padding: 5px 5px;
}


.name{
    /* background-color: #575757; */
    color: white;
    font-size: 18px;
    font-family: Arial, sans-serif;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #19023f;
    /* padding: 5px 5px; */
    position: fixed;
    width: 100%;
    z-index: 1000;

}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 5px;
    transition: background-color 0.4s ease;

}

.navbar .logo img {
    height: 60px;
    border-radius: 50%;
    margin-left: 0px;
    /* background-color: #575757; */
}

.navbar .nav-links {
    display: flex;
    gap: 48px;
    /* margin-left: 250px;  */
    /* background-color: #575757; */
    
}
.navbar .nav-links a:hover  {
    background-color: #5757579d;
    
    
   
    

}

.navbar .auth-buttons {
    display: flex;
    gap: 20px;
    /* background-color: #575757; */
    margin-right: 20px;
}

.navbar .auth-buttons a {
    /* border: 1px solid white; */
    padding: 10px 10px;

}

.navbar #auth-buttons a {
    border: 1px solid white;
}
.navbar .auth-buttons a:hover {
    background-color: white;
    color: #19023f;
    
}
.navbar #icon-color a:hover{
    background-color:  white;
}


@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: stretch;
    }

    .navbar .nav-links,
    .navbar .auth-buttons {
        flex-direction: stretch;
        gap: 5px;
        width: 100%;
    }
}

/* Dropdown menu */
.dropdown-menu {
    position: absolute;
    right: 0;
    margin-top: 8px;
    margin-right: 10px;
    width: 150px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    /* padding: 5px 0; */
  }
  
  /* Dropdown buttons */
  .dropdown-item {
    width: 100%;
    padding: 10px 15px;
    text-align: center;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #000000;
    display: block;
    transition: background-color 0.2s;
  }
  
  /* Hover effect for dropdown buttons */
  .dropdown-item:hover {
    background-color: #7ff657;
  }
  
  /* Logout button styling (if needed for customization) */
  .logout-btn {
    font-weight: bold;
    text-align: center;
  }
  