
.welcome-page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .welcome-header h1{
    font-weight: bolder;
    font-size: 70px;
    color: rgb(255, 255, 255);
  }
  
  .welcome-header p{
    font-size: 18px;
    color: rgb(207, 204, 204);
  }
  .welcome-header {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
    background-color: rgba(0, 222, 251, 0.2);
    backdrop-filter: blur(5px); 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Vision Section */
  .vision-section {
    padding: 40px 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto 30px;
    border-top: solid 2px #ffffff;
    border-bottom: solid 2px #ffffff;
  }
  
  .vision-section h2 {
    font-size: 2rem;
    color: #00ff73;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .vision-section p {
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.8;
    color: #ffffff;
    margin: 0;
  }
  
  
  
  